### Additional Features from Microstructural Datasets

#### Distribution of Order Sizes

Easly 등은 주문 크기당 주문 빈도수를 연구해 유독 반올림된 크기의 거래가 비정상적으로 빈번하다는 사실을 발견했다. 예를 들어서, 거래 빈도는 거래 크기의 함수로 빠르게 감소하는데 반올림된 거래 크기인 $\{5, 10, 20, 25, 50, 100, 200, \dots \}$은 예외였다.

**Data Structure**

LOBSTER에서 제공하는 Sample Order Book data는 다음과 같이 구성되어 있다

|Ask Price 1|Ask Size 1|Bid Price 1|Bid Size 1|Ask Price 2|Ask Size 2|Bid Price 2|Bid Size 2| $\cdots$ |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:--------:|
|$\vdots$|$\vdots$|$\vdots$|$\vdots$|$\vdots$|$\vdots$|$\vdots$|$\vdots$| $\vdots$ |
|5859400|200|5853300|18|5859800|200|5853200|18| $\cdots$ |
|5859400|200|5853300|18|5859800|200|5853200|18| $\cdots$ |
|$\vdots$|$\vdots$|$\vdots$|$\vdots$|$\vdots$|$\vdots$|$\vdots$|$\vdots$| $\vdots$ |

In [4]:
import pandas as pd
import numpy as np

aapl_order_book = pd.read_csv('../../Data/AAPL_order_book.csv')

In [2]:
aapl_order_book

,5859400,200,5853300,18,5859800,200.1,5853000,150,5861000,200.2,...,4689600,200.4,9999999999.8,0.8,4689500,1900,9999999999.9,0.9,4689400,400.3
0,5859400,200,5853300,18,5859800,200,5853200,18,5861000,200,...,4736500,100,9999999999,0,4689600,200,9999999999,0,4689500,1900
1,5859400,200,5853300,18,5859800,200,5853200,18,5861000,200,...,4785900,100,9999999999,0,4736500,100,9999999999,0,4689600,200
2,5859100,18,5853300,18,5859400,200,5853200,18,5859800,200,...,4785900,100,9999999999,0,4736500,100,9999999999,0,4689600,200
3,5859100,18,5853300,18,5859200,18,5853200,18,5859400,200,...,4785900,100,9999999999,0,4736500,100,9999999999,0,4689600,200
4,5859100,18,5853300,18,5859200,18,5853200,18,5859300,18,...,4785900,100,9999999999,0,4736500,100,9999999999,0,4689600,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91991,5859500,100,5856900,110,5860000,323,5856400,110,5860200,200,...,5840300,20,5876300,200,5840100,940,5876500,2,5840000,2589
91992,5859500,100,5856900,10,5860000,323,5856400,110,5860200,200,...,5840300,20,5876300,200,5840100,940,5876500,2,5840000,2589
91993,5859500,100,5856900,10,5859900,23,5856400,110,5860000,323,...,5840300,20,5876200,100,5840100,940,5876300,200,5840000,2589
91994,5859500,100,5856900,10,5859900,23,5856400,10,5860000,323,...,5840300,20,5876200,100,5840100,940,5876300,200,5840000,2589
91995,5859500,100,5856900,10,5859900,23,5856400,10,5860000,323,...,5841000,190,5876200,100,5840300,20,5876300,200,5840100,940

#### Cancellation Rates, Limit Orders, Market Orders

#### Time-Weighted Average Price Execution Algorithms

#### Option Markets

#### Serial Correlation of Signed Order Flow